/*DON'T FORGET TO MAKE THIS MOBILE RESPONSIVE*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.navbar {
    opacity: .8;
}

.listItem {
    font-size: 20px;
    font-color: white;
    justify-content: center;
}

#socialLogos {

}

#gitLogo {
    font-size: 30px;
}

#linkLogo {
    font-size: 30px;
}

.nameTitle {
    font-size: 60px;
    color: white;
    border-bottom: 5px ridge white;
}

#typeName {
    text-align: center;
    font-size: 60px;
    font-family: 'Artifika', cursive; 
    -webkit-animation-duration:1s;
}

#aboutTitle, #portfolioTitle, #contactTitle { 
    font-family: 'Artifika', cursive;
    font-size: 55px;
    padding: 120px 0px 20px 0px;
    margin: 0 auto 50px auto;
    max-width: 700px;
    border-bottom: 5px ridge black;
    display: block;
    text-align: center;
}

#portfolioTitle {
    color: black;
}

#aboutPic {
    display: block;
    margin: 0 auto;
    width: 250px;
    padding:4px;
    width:65%;
}

#aboutMe {
    font-size: 16px;
    color: black;
}

.currentJobLink{
    color: darkblue;
    background-color: transparent;
    text-decoration: none;
}

#skills {
    display: block;
    margin: 0 auto;
}

#skillsAndProjects, #aboutMe, #contact {
    background-image: url(../images/background7.png);
}

.skillType {
    display: block;
    width: 100%;
    padding: 40px 0px;
    font-size: 45px;
    text-align: center;
    color: black;
    font-family: 'Artifika', cursive; 
}

/*.carousel-item {
    width: 100px;
    height: 200px;
}*/

#frontend {
    border-bottom: 3px ridge black;  
}

#backend {
    border-bottom: 3px ridge black; 
}

.apps {
    display: block;
    width: 100%;
    padding: 40px 0px;
    font-size: 45px;
    text-align: center;
    color: black;
    border-bottom: 3px ridge black;
    font-family: 'Artifika', cursive;
}

#app1 {
    width: 150px;
    height: 150px;
    background-image: url(../images/maritant.png);
    background-size: 300px 200px;
    border: 5px solid #303e4e;
    border-radius: 10px;   
}

#app2 {
    width: 150px;
    height: 150px;
    background-image: url(../images/recipe.jpg);
    background-size: 300px 200px;
    border: 5px solid #303e4e;
    border-radius: 10px;    
}

.appTitle, .appDescription{
    color: black;
}

.skillsList {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
}

.skill {
    font-size: 100px;
    margin: 10px;
    display: inline-block;
}

.form-contain {
    max-width: 1200px;
    padding: 5px;
    display: block;
    margin: 10px auto;
}

.input-label {
    font-size: 20px;
    color: black;
}

#submit-btn {
    margin: 20px 0px;
    display: block;
    padding: 10px 20px;
    font-size: 20px;
}

#footer {
    float: none;
    margin: 0 auto;
    font-size: 16px;
    color: white;
    width: 100%;
}